<head>
        <title>Done for you Job Cost Accounting - M2CO</title>
        <meta name = "Description" content ="Job cost accounting done for you - be confident in your numbers while saving time and money.">
        <meta property = "og:title" content = "Done for you Job Cost Accounting - M2CO">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="fonts/fontawesome-free-5.10.2-web/css/all.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/main.css">
    </head>